<!DOCTYPE html>
<html lang="en" ng-app = "Yempo">

<head>
	<meta charset="UTF-8">
	<title>Filters</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styleFilters.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

<div class='container' ng-controller="FilterController">
	<div ng-show="openslide" id="side-menu" class="side-nav">
		<a class="btn-close" ng-click="closeSlideMenu()">&times;</a>
		<span></br></br></span>
		<a ng-click="openFeed()">Feed</a>
		<a ng-click="openProfile()">Profile</a>
		<a ng-click="openReach()">Reach</a>
		<a href="#">Logout</a>
	</div>
	<div>
		<div class="add-btn"><a class="fa fa-arrow-right" ng-click="openSlideMenu()"></a></div>

		<div id="follower-filter-body">
			<div ng-show="allfollowers" md-swipe-right="onSwipeRightAllFollowers($event, $target)" md-swipe-left="onSwipeLeftAllFollowers($event, $target)">
				<div class="svg-class">
					<all-followers acquaintances="acquaintancesAllFollowers"
								   bridges="bridgesAllFollowers"
								   middle="middle"
								   middle-user="middleUser"
								   max-follower="maxFollower"
								   min-follower="minFollower"
								   edit="editMiddleFollower">
						<div class="row mx-auto">
							<div id="semi-circle"></div>
						</div>
						<div ng-show="!editMiddleFollower" id="middle-follower" class="row">
							<div id="middle-follower-card">
								<div>
									<img ng-click="onFollowerImageClick()" alt="" id="mu-profile-pic">
								</div>
								<div>
									<div class="desc"><p id="mu-name"></p></div>
									<div class="desc"><p id="mu-screen-name"></p></div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<input placeholder="Min Follower Count"
										   type="number"
										   id="minFollowerFld"
										   ng-change="onMinFollowerChange()">
								</div>
								<div class="col-6">
									<input placeholder="Max Follower Count"
										   type="number"
										   id="maxFollowerFld"
										   ng-change="onMaxFollowerChange($event)">
								</div>
							</div>
						<div class="row mx-auto">
							<div id="all-followers-scatterplot"></div>
						</div>
						</div>
						<div ng-show="editMiddleFollower" id="middle-follower-edit" class="row">
							<div id="mu-close" class="float-right"><i class="fa fa-times" ng-click="closeEdit()"></i></div>
							<div id="middle-follower-edit-card">
								<div>
									<img alt="" id="mu-edit-profile-pic">
								</div>
								<div>
									<div class="desc"><p id="mu-edit-name"></p></div>
									<div class="desc"><p id="mu-edit-screen-name"></p></div>
									<div class="desc"><p id="mu-edit-followers"></p></div>
									<button class="btn-sm btn-light" ng-click="addFollower()">Add</button>
								</div>
							</div>
						</div>
					</all-followers>
				</div>
				<div id="page-navigation" class="row">
					<div class="col-3"><md-button class="fa fa-caret-left" ng-click="onLeftBtnAllFollowers($event)"></md-button></div>
						{{pagename}}
					<div class="col-3"><md-button class="fa fa-caret-right" ng-click="onRightBtnAllFollowers($event)"></md-button></div>

				</div>
			</div>
			<div ng-show="messagefollowers" md-swipe-right="onSwipeRightMessageFollowers($event, $target)" md-swipe-left="onSwipeLeftMessageFollowers($event, $target)" class="carousel-item active">
				<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Message Followers</h2>
				<div class="row svg-class">
					<div class="col-lg-8 mx-auto">
						<div class="row justify-content-center">
							<message-followers
									bridges="acquaintancesInYourArea"
									acquaintances="acquaintancesInYourArea"
									colors="colorsInYourArea"
									sendmessage="sendmessage">
							</message-followers>
						</div>
					</div>
				</div>
				<div class="row svg-class">
					<div class="col-6 button-move">
						{{sendmessage}}
						<textarea class = 'form-control' ng-model="sendnewmessage" id="textpost" maxlength="280" ng-keypress="clicked()"></textarea>
						<div class="row text-right">
							<p>{{ 280 - sendmessage.length - sendnewmessage.length + ' Char left' }}</p></div>
					</div>
					<div class="col-4 button-mv">
						<div class="row postbtn">
							<button class="w3-button w3-teal " ng-click="sendMessage()">Tweet</button>
						</div>
						<div class="row postbtn">
							<button class="w3-button w3-teal " ng-click="backtofilter()">Filters</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/indexFilters.js"></script>

</body>

</html>